<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PythonFlaskAPI</title>
    <!-- CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/home.css') }}"
    />
  </head>
  <body>
    <div class="home-div">
      <h1>
        <span class="home-font">A Small REST API for BMW </span>
        <span class="m-letters" id="m-letter-one">/</span>
        <span class="m-letters" id="m-letter-two">/</span>
        <span class="m-letters" id="m-letter-three">/</span>
        <span class="home-font"> M Performance models. </span>
      </h1>
    </div>
  </body>
</html>
