body {
    background-color: #000;
    margin: 0;
}

.home-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-font {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.m-letters {
  margin-right: -0.45rem;
}

.m-letter-one {
  color: lightblue !important;
}

.m-letter-two {
  color: darkblue !important;
}

.m-letter-three {
  color: red !important;
}